doctype html
html
  head
    meta(charset='utf-8')
    link(href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet")
    style
      include ./css/nodes.css
      include ./css/paragraph.css
      include ./css/container.css
      include ./css/horizontalRuler.css
      include ./css/table.css
      include ./css/geral.css
      block estilo
  body
    block conteudo
    include ./css/scripts.pug
    